
<div style="float: right;">
    <a href="/customer/add" class="btn btn-success">Create a new Customer +</a>
</div>
<br>
<table class="table table-dark">
    <br>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mail</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Receipt</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <th scope="row">{{id}}</th>
            <th scope="row">{{identify}}</th>
            <th scope="row">{{firstName}}</th>
            <th scope="row">{{lastName}}</th>
            <th scope="row">{{mail}}</th>
            <th scope="row">{{address}}</th>
            <th scope="row">{{phone}}</th>
            <th scope="row">{{receipt}}</th>
            <th scope="row">
                <form action="/customer/delete/{{id}}" method="POST">
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                </form>
                <a href="/customer/edit/{{id}}" class="btn btn-warning">Edit</a>
            </th>
        </tr>
        {{/each}}
    </tbody>
</table>