<div class="row g-0">
    <div class="row g-3">
        <form action="/product/edit/{{id}}" method="POST" class="row g-4">
            <input type="text" name="id" value="{{id}}" hidden>
            <div class="col-5">
                <label for="catalogNumber" class="form-label">Catalog Number</label>
                <input type="text" class="form-control" name="catalogNumber" value="{{catalogNumber}}">
            </div>
            <br>
            <div class="col-5">
                <label for="nameItem" class="form-label">Name Item</label>
                <input type="text" class="form-control" name="nameItem" value="{{nameItem}}">
            </div>
            <br>
            <div class="col-5">
                <label for="supplier" class="form-label">Supplier</label>
                <select class="form-select" name="supplier" aria-label="Default select example" >

                    <option value="{{supplier}}" selected="selected">{{supplier}}</option>

                    {{#each dataSupplier}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <div class="col-5">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" value="{{price}}">
            </div>
            <br>
            <div class="col-5">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" value="{{description}}">
            </div>
            <br>
            <div class="col-5">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" name="category" aria-label="Default select example" value="">
                    <option value="{{category}}" selected="selected">{{category}}</option>
                    {{#each dataCategory}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <div class="col-5">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" name="quantity" value="{{quantity}}">
            </div>
            <br>
            <div class="col-8">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>