<div class="row g-0">
    <div class="row g-3">
        <form action="/supplier/edit/{{id}}" method="POST" class="row g-4">
            <div class="col-5">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" name="id" value="{{id}}">
            </div>
            <br>
            <div class="col-5">
                <label for="name" class="form-label">Name Supplier</label>
                <input type="text" class="form-control" name="name" value="{{name}}">
            </div>
            <br>
            <div class="col-5">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" name="address" value="{{address}}">
            </div>
            <br>
            <div class="col-5">
                <label for="mail" class="form-label">Email</label>
                <input type="text" class="form-control" name="mail" value="{{mail}}">
            </div>
            <br>
            <div class="col-5">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phone" value="{{phone}}">
            </div>
            <br>
            <div class="col-8">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>