<div class="row g-0">
    <div class="row g-3">
        <form action="/receipt/edit/{{id}}" method="POST" class="row g-4">
            <input type="text" name="id" value="{{id}}" hidden>
            <div class="col-5">
                <label for="numberReceipt" class="form-label">Number Receipt</label>
                <input type="text" class="form-control" name="numberReceipt" value="{{numberReceipt}}">
            </div>
            <br>
            <div class="col-5">
                <label for="purchaseDate" class="form-label">Purchase Date</label>
                <input type="text" class="form-control" name="purchaseDate" value="{{purchaseDate}}">
            </div>
            <br>
            <div class="col-5">
                <label for="purchaseTime" class="form-label">Purchase Time</label>
                <input type="text" class="form-control" name="purchaseTime" value="{{purchaseTime}}">
            </div>
            <br>
            <div class="col-5">
                <label for="idCustomer" class="form-label">ID Customer</label>
                <input type="text" class="form-control" name="idCustomer" value="{{idCustomer}}">
            </div>
            <br>
            <div class="col-5">
                <label for="nameCustomer" class="form-label">Name Customer</label>
                <input type="text" class="form-control" name="nameCustomer" value="{{nameCustomer}}">
            </div>
            <br>
            <div class="col-8">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>